html, body {
    height: 100%;
    width: 100%;
  }
  ul{list-style: none;}
  
  h1{
    text-align: center;
    color: white;
  }
  h2{
    text-align: center;
    color: white;
  }
  h4{
    text-align: center;
    color: white;
  }
  p{
    text-align: center;
    color: white;
    font-size: 15px;
  }
  img {
    height: 100%;
    width: 100%;
  }
  form {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  h3{
    text-align:center;
    color: white;
    font-size: 34px;
  }
